:root, [data-bs-theme=light] {
  --bs-primary: #6B8E23;
  --bs-primary-rgb: 107,142,35;
  --bs-primary-text-emphasis: #2B390E;
  --bs-primary-bg-subtle: #E1E8D3;
  --bs-primary-border-subtle: #C4D2A7;
  --bs-dark: #334251;
  --bs-dark-rgb: 51,66,81;
  --bs-dark-text-emphasis: #141A20;
  --bs-dark-bg-subtle: #D6D9DC;
  --bs-dark-border-subtle: #ADB3B9;
  --bs-body-color: #121e2c;
  --bs-body-color-rgb: 18,30,44;
  --bs-secondary-color: rgba(18,30,44,0.75);
  --bs-secondary-color-rgb: 18,30,44,0.75;
  --bs-tertiary-color: rgba(18,30,44,0.5);
  --bs-tertiary-color-rgb: 18,30,44,0.5;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #6B8E23;
  --bs-btn-border-color: #6B8E23;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #819F44;
  --bs-btn-hover-border-color: #7A9939;
  --bs-btn-focus-shadow-rgb: 16,21,5;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #89A54F;
  --bs-btn-active-border-color: #7A9939;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #6B8E23;
  --bs-btn-disabled-border-color: #6B8E23;
}

.btn-outline-primary {
  --bs-btn-color: #6B8E23;
  --bs-btn-border-color: #6B8E23;
  --bs-btn-focus-shadow-rgb: 107,142,35;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #6B8E23;
  --bs-btn-hover-border-color: #6B8E23;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #6B8E23;
  --bs-btn-active-border-color: #6B8E23;
  --bs-btn-disabled-color: #6B8E23;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6B8E23;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #334251;
  --bs-btn-border-color: #334251;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2B3845;
  --bs-btn-hover-border-color: #293541;
  --bs-btn-focus-shadow-rgb: 224,227,229;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #293541;
  --bs-btn-active-border-color: #26323D;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #334251;
  --bs-btn-disabled-border-color: #334251;
}

.btn-outline-dark {
  --bs-btn-color: #334251;
  --bs-btn-border-color: #334251;
  --bs-btn-focus-shadow-rgb: 51,66,81;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #334251;
  --bs-btn-hover-border-color: #334251;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #334251;
  --bs-btn-active-border-color: #334251;
  --bs-btn-disabled-color: #334251;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #334251;
}

